@{
  Layout = "_LayoutAdmin";
  ViewData["Title"] = "Dashboard";
}
<div class="justify-content-between mt-2">
    <a class="btn btn-primary" asp-action="Index" asp-controller="News" asp-route-type="Unpublished">Unpublished News</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="News" asp-route-type="MostRead">Most Read</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="News" asp-route-type="MostCommented">Most Commented</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Publish</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Publish</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Publish</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Publish</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Publish</a>
</div>